body{
    margin: 0%;
    padding: 0%;
    background-color: rgba(190, 237, 0, 0.219) ;
}

header {
    
    align-items: center;
    justify-content: center;
    background-color: black;
}
.logo{
    display: flex;
}
.logo1{
    width: 8%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.buscar {
    padding: 0px;
}
  
.buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
    margin-left: 22%;
    position: absolute;
    margin-top: -100px;
    
}

.btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 5.5%;
    right: 75%;
    position: absolute;
    background: #bfed00ff;
    text-align: center;
    color: black;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
  
.buscar:hover input {
    width: 350px;
}
  
.buscar input:focus {
    width: 240px;
}
  
.mostrar-menú,
.esconder-menú{
    display: block;
    position: relative;
    color: white;
}
.mostrar-menú{
    position: relative;
    margin-top: -8.5%;
    left: 90%;
    font-size: 400%;
    color: white;
}
.categorias{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #bfed00ff;
    right: -70%;
    top: 0px;
    padding: 150px 50px;
    z-index: 100;
    transition: 0.8s;
    font-family: 'Urbanist', sans-serif;
    
}
    
.categorias a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: bolder;
    text-align: center;
}
    
.esconder-menú{
    position: absolute;
    top: 40px;
    right: 200px;
    font-size: 300%;
    color: #000;
}
#check123:checked ~ .categorias{
    right: 0;
}

.enfermeria1:hover{
    width: 50%;
    padding: 3%;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 20%;

}
.administracion1:hover{
    width: 65%;
    padding: 3%;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 15%;
}
.belleza1:hover{
    width: 40%;
    padding: 3%;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 25%;
}
.programacion1:hover{
    width: 60%;
    padding: 3%;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-left: 20%;

}
.ig1{
    width: 2.6%;
    margin-left: 59.5%;
    position: absolute;
    margin-top: -6.1%;
}
.ig1:hover{
    width: 3%;
}
.fb1{
    width: 2.8%;
    margin-left: 63%;
    position: absolute;
    margin-top: -6.2%;
}
.fb1:hover{
    width: 3.2%;
}
.tw1{
    width: 2.6%;
    margin-left: 66.5%;
    position: absolute;
    margin-top: -5.9%;
}
.tw1:hover{
    width: 3%;
}
.yt1{
    width: 2.4%;
    margin-left: 70.5%;
    position: absolute;
    margin-top: -5.6%;
}
.yt1:hover{
    width: 3%;
}
.categorias2{
    background-color:#bfed00ff ;
    padding: 0.5%;
    font-family: 'Urbanist', sans-serif;
    font-size: 30px;
    text-align: center;
    
    
}
.enfermeria2{
    color: #000;
    text-decoration: none;
    margin-right: 6%;
    margin-left: 7%;
}
.enfermeria2:hover{
    background-color: black;
    color: white;
    width: 150px;
    padding: 0.2%;
    border-radius: 30px;
}
.administracion2{
    color: #000;
    text-decoration: none;
    margin-right: 6%;
}
.administracion2:hover{
    background-color: black;
    color: white;
    padding: 0.2%;
    border-radius: 30px;
}
.belleza2{
    color: #000;
    text-decoration: none;
    margin-right: 6%;
}.belleza2:hover{
    background-color: black;
    color: white;
    padding: 0.2%;
    border-radius: 30px;
}
.programacion2{
    color: #000;
    text-decoration: none;
    margin-right: 6%;
}
.programacion2:hover{
    background-color: black;
    color: white;
    padding: 0.2%;
    border-radius: 30px;
}

.info1{
    display: flex;
    
    
}
.enfinfo{
    background-color:rgba(177, 221, 2, 0.596) ;
    width: 50%;
    border-radius: 30px;
    margin: 30px;
}
.enf-img{
    width: 80%;
    margin-top: 10%;
    margin-left: 11%;
    border-radius: 10%;
}
.textoenf{
    text-align: center;
    font-size: 18px;
    color: #000;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
}
.textoenf:hover{
    color: white;
}
.adinfo{
    background-color:rgba(177, 221, 2, 0.596) ;
    width: 50%;
    border-radius: 30px;
    margin: 30px;
}
.ad-img{
    width: 80%;
    margin-top: 10%;
    margin-left: 11%;
    border-radius: 10%;
}
.textoad{
    font-size: 18px;
    color: #000;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    text-align: center;
}
.textoad:hover{
    color: white;
}
.bellinfo{
    background-color:rgba(177, 221, 2, 0.596) ;
    width: 50%;
    border-radius: 30px;
    margin: 30px;
}
.bell-img{
    width: 80%;
    margin-top: 10%;
    margin-left: 11%;
    border-radius: 10%;
}
.textobell{
    font-size: 18px;
    color: #000;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    text-align: center;
}
.textobell:hover{
    color: white;
}

.proginfo{
    background-color:rgba(177, 221, 2, 0.596) ;
    width: 50%;
    border-radius: 30px;
    margin: 30px;
}
.prog-img{
    width: 80%;
    margin-top: 10%;
    margin-left: 11%;
    border-radius: 10%;
}
.textoprog{
    font-size: 18px;
    color: #000;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    text-align: center;
}
.textoprog:hover{
    color: white;
}